ul {
    list-style: none;
}

.subHeader {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    color: white;
    background-image: linear-gradient(45deg, rgba(150, 0, 0, 1) 0%, rgba(95, 0, 0, 1) 100%);

    & .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }

    & .logos img {
        max-width: 50px;
    }

    & p {
        text-shadow: 0 0 5px black;
        font-weight: 300;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 15px;
    max-width: 750px;
    border-radius: 5px;

    & div {
        margin: 0 0 15px 0;

        & hr {
            margin: 15px 0;
            border: none;
            height: 2px;
            background-color: rgb(44, 44, 44);
            border-radius: 5px;
        }
        & h2 {
            margin-bottom: 5px;
            font-weight: 400;
        }
        & a {
            transition: 0.2s;
            padding: 10px 15px;
            margin-bottom: 7px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            background-color: rgb(226, 226, 226);
            width: 100%;
        }

        & a:hover {
            background-color: rgb(105, 0, 0);
            color: white;
        }

        & a.ctm-btn {
            color: white;
            background: linear-gradient(45deg, #0e9717, #1389a1, #0e9d18);
            background-size: 200% 200%;
            animation: gradient-animation 10s linear infinite;
            filter: grayscale(35%);
        }

        & a.ctm-btn:hover {
            animation-duration: 2s;
            animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
            filter: grayscale(0);
        }

        & a:active {
            opacity: 0.5;
        }

        & i {
            margin-right: 15px;
        }

        & i.link-icon {
            margin-right: 0;
            margin-left: 5px;
            font-size: 12px;
        }


        & .text {
            display: flex;
            flex-direction: column;
            margin: auto 0;
            
            & p {
                font-weight: 400;
            }

            & p.desc {
                font-size: 14px;
                font-weight: 300;
                opacity: 50%;
            }
        }
    }
}

.lang-selector {
    transition: 0.2s;
    margin-left: 1.5rem;
    font-weight: 200;
    user-select: none;
}

.lang-selector button {
    outline: none;
    background: none;
    border: none;
    margin: 0 5px;
    color: white;
    font-weight: 200;
    cursor: pointer;
    transition: 0.2s;
}

.lang-selector .engLang {
    color: rgb(201, 201, 201);

    & span {
        font-weight: 200;
        font-size: 8px;
    }
}

.lang-selector .selected {
    background-color: rgba(0, 0, 0, 0.25);
    font-weight: 400;
    padding: 0 3px;
    border-radius: 5px;
}

.searchBar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    & .searchBox {
        padding: 0 15px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        background-color: rgb(225, 225, 225);
        width: 15%;
        min-width: 300px;
        max-width: 300px;
        transition: 0.2s cubic-bezier(0,0,0.2,1);
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: 70%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }

    & .searchBox:focus-within {
        border: 2px solid rgba(0, 0, 0, 0.5);
        padding: 7px 15px;
        max-width: 750px;
        width: 50%;
        opacity: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    & .searchBox input {
        width: 100%;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        margin: 0 5px;
        padding: 5px;
        font-weight: 400;
        font-size: 16px;
    }
}

@media screen and (max-width: 763px) {
  .container {
    margin: 15px;
  }
  header {
    flex-direction: column;
  }
  header p {
    display: none;
  }
  header img {
    margin: 0;
  }
  .lang-selector {
    margin: 0;
  }
}