main.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
    width: 100%;

    & .topic {
        width: 56%;
    }

    & hr {
        margin: 15px 0;
        border: none;
        height: 2px;
        background-color: rgb(44, 44, 44);
        border-radius: 5px;
        width: 100%;
    }

    & h2 {
        margin-bottom: 5px;
        font-weight: 400;
    }
}

.links-container {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1rem;
    margin-bottom: 15px;

    & a.link {
        transition: 0.2s;
        width: 100%;
        height: 350px;
        max-width: 200.91px;
        max-height: 350px;
        background-color: rgb(226, 226, 226);
        text-decoration: none;
        color: black;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }

    & a.link:hover {
        background-color: rgb(105, 0, 0);
        color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    & a.link .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 100%;

        & .image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        & .image img {
            max-width: 500px;
            width: 100%;
            object-fit: contain;
            border-radius: 5px;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.201);
        }

        & .image i {
            font-size: 48px;
            opacity: 50%;
        }

        & .text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            width: 100%;
        }

        & .text h2 {
            font-size: 16px;
        }

        & .text p {
            font-size: 12px;
            font-weight: 300;
        }
    }
}

@media screen and (max-width: 745px) {
    .topic {
        width: 90% !important;
    }


    .links-container {
        flex-direction: column !important;
        row-gap: 15px;
    }

    a.link {
        max-width: none !important;
        max-height: max-content !important;
        width: 100% !important;
    }

    a.link .container {
        flex-direction: row !important;
        justify-content: space-between !important;
        text-align: left !important;
        height: 100% !important;

        & .image {
            & img {
                max-width: 75px !important;
            }
        }

        & .text {
            justify-content: center !important;
        }
    }
}